In [2]:
import pandas as pd

data=pd.read_csv("fitlife_emotional_dataset.csv")
data

,ID,Date,Age,Gender,Time of Day,Activity Category,Sub-Category,Activity,Duration (minutes),Intensity,Primary Emotion,Secondary Emotion,Mood Before (1-10),Mood After (1-10),Energy Level (1-10),Stress Level (1-10)
1,2024-06-15,34,Male,Retired,Afternoon,Physical - Exercise,Mind-Body,Stretching,79,High,Energized,Challenged,3,3,6,9
2,2024-02-24,30,Prefer not to say,Retired,Night,Physical - Sports,Extreme Sports,Bungee Jumping,72,High,Accomplished,Accomplished,6,7,4,9
3,2024-06-05,75,Female,Employed,Night,Relaxation,Entertainment,Music Listening,117,High,Energized,Recharged,7,8,7,6
4,2024-06-05,28,Prefer not to say,Retired,Night,Relaxation,Leisure,Baking,78,High,Accomplished,Serene,7,8,8,9
5,2024-01-05,75,Female,Student,Afternoon,Physical - Sports,Team Sports,Basketball,55,Medium,Flexible,Challenged,7,8,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99996,2024-05-15,59,Male,Student,Afternoon,Mental - Intellectual,Analysis,Financial Analysis,46,Medium,Focused,Clear-minded,6,5,4,2
99997,2024-03-30,42,Male,Retired,Night,Relaxation,Entertainment,Theatre Performances,70,Medium,Serene,Recharged,5,6,6,3
99998,2024-06-25,64,Prefer not to say,Retired,Evening,Physical - Recreation,Wellness,Cold Therapy,51,Medium,Relaxed,Rejuvenated,5,4,4,2
99999,2024-04-02,61,Female,Employed,Afternoon,Mental - Intellectual,Learning,Online Courses,149,Medium,Enlightened,Challenged,8,7,5,5
100000,2024-09-08,27,Female,Retired,Evening,Social,Civic,Community Service,108,Low,Peaceful,Engaged,4,6,2,4

In [3]:
data.head()

,ID,Date,Age,Gender,Time of Day,Activity Category,Sub-Category,Activity,Duration (minutes),Intensity,Primary Emotion,Secondary Emotion,Mood Before (1-10),Mood After (1-10),Energy Level (1-10),Stress Level (1-10)
1,2024-06-15,34,Male,Retired,Afternoon,Physical - Exercise,Mind-Body,Stretching,79,High,Energized,Challenged,3,3,6,9
2,2024-02-24,30,Prefer not to say,Retired,Night,Physical - Sports,Extreme Sports,Bungee Jumping,72,High,Accomplished,Accomplished,6,7,4,9
3,2024-06-05,75,Female,Employed,Night,Relaxation,Entertainment,Music Listening,117,High,Energized,Recharged,7,8,7,6
4,2024-06-05,28,Prefer not to say,Retired,Night,Relaxation,Leisure,Baking,78,High,Accomplished,Serene,7,8,8,9
5,2024-01-05,75,Female,Student,Afternoon,Physical - Sports,Team Sports,Basketball,55,Medium,Flexible,Challenged,7,8,6,2

In [4]:
data.tail()

,ID,Date,Age,Gender,Time of Day,Activity Category,Sub-Category,Activity,Duration (minutes),Intensity,Primary Emotion,Secondary Emotion,Mood Before (1-10),Mood After (1-10),Energy Level (1-10),Stress Level (1-10)
99996,2024-05-15,59,Male,Student,Afternoon,Mental - Intellectual,Analysis,Financial Analysis,46,Medium,Focused,Clear-minded,6,5,4,2
99997,2024-03-30,42,Male,Retired,Night,Relaxation,Entertainment,Theatre Performances,70,Medium,Serene,Recharged,5,6,6,3
99998,2024-06-25,64,Prefer not to say,Retired,Evening,Physical - Recreation,Wellness,Cold Therapy,51,Medium,Relaxed,Rejuvenated,5,4,4,2
99999,2024-04-02,61,Female,Employed,Afternoon,Mental - Intellectual,Learning,Online Courses,149,Medium,Enlightened,Challenged,8,7,5,5
100000,2024-09-08,27,Female,Retired,Evening,Social,Civic,Community Service,108,Low,Peaceful,Engaged,4,6,2,4

In [5]:
data.shape

(100000, 16)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 1 to 100000
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   100000 non-null  object
 1   Date                 100000 non-null  int64
 2   Age                  100000 non-null  object
 3   Gender               100000 non-null  object
 4   Time of Day          100000 non-null  object
 5   Activity Category    100000 non-null  object
 6   Sub-Category         100000 non-null  object
 7   Activity             100000 non-null  object
 8   Duration (minutes)   100000 non-null  int64
 9   Intensity            100000 non-null  object
 10  Primary Emotion      100000 non-null  object
 11  Secondary Emotion    100000 non-null  object
 12  Mood Before (1-10)   100000 non-null  int64
 13  Mood After (1-10)    100000 non-null  int64
 14  Energy Level (1-10)  100000 non-null  int64
 15  Stress Level (1-10)  100000 non-null  int64
dtypes: int64(6), object(10)
memory usage: 13.0+ MB

In [7]:
data['Primary Emotion'].unique()

array(['Energized', 'Accomplished', 'Flexible', 'Serene', 'Resilient',
       'Peaceful', 'Blissful', 'Carefree', 'Inspired', 'Exhausted',
       'Refreshed', 'Strong', 'Challenged', 'Creative', 'Content',
       'Invigorated', 'Tense', 'Calm', 'Focused', 'Relaxed',
       'Enlightened', 'Clear-minded', 'Sweaty', 'Curious', 'Reflective',
       'Understood', 'Engaged', 'Innovative', 'Stimulated', 'Rejuvenated',
       'Self-aware', 'Sore', 'Supported', 'Recharged', 'Connected',
       'Grateful', 'Fulfilled', 'Agile', 'Analytical', 'Insightful',
       'Appreciated', 'Happy', 'Included', 'Motivated', 'Expressive',
       'Empowered'], dtype=object)

In [8]:
data.isnull().sum()

ID                     0
Date                   0
Age                    0
Gender                 0
Time of Day            0
Activity Category      0
Sub-Category           0
Activity               0
Duration (minutes)     0
Intensity              0
Primary Emotion        0
Secondary Emotion      0
Mood Before (1-10)     0
Mood After (1-10)      0
Energy Level (1-10)    0
Stress Level (1-10)    0
dtype: int64

In [9]:
data.dtypes

ID                     object
Date                    int64
Age                    object
Gender                 object
Time of Day            object
Activity Category      object
Sub-Category           object
Activity               object
Duration (minutes)      int64
Intensity              object
Primary Emotion        object
Secondary Emotion      object
Mood Before (1-10)      int64
Mood After (1-10)       int64
Energy Level (1-10)     int64
Stress Level (1-10)     int64
dtype: object

In [10]:
for i in data.columns:
    print(i,':','\n',data[i].unique())

ID :
 ['2024-06-15' '2024-02-24' '2024-06-05' '2024-01-05' '2024-03-11'
 '2024-08-12' '2024-03-31' '2024-07-15' '2024-10-20' '2024-04-11'
 '2024-08-17' '2024-08-04' '2024-06-11' '2024-07-16' '2024-05-03'
 '2024-11-06' '2024-01-18' '2024-03-29' '2024-10-31' '2024-08-29'
 '2024-03-24' '2024-09-05' '2024-08-16' '2024-05-26' '2024-05-11'
 '2024-06-29' '2024-12-06' '2024-09-09' '2024-10-28' '2024-07-11'
 '2024-08-01' '2024-07-28' '2024-07-17' '2024-03-06' '2024-07-30'
 '2024-06-10' '2024-01-24' '2024-10-08' '2024-09-27' '2024-10-04'
 '2024-04-06' '2024-03-20' '2024-08-03' '2024-09-20' '2024-05-10'
 '2024-01-17' '2024-08-10' '2024-05-06' '2024-07-08' '2024-03-16'
 '2024-05-22' '2024-06-01' '2024-08-15' '2024-03-30' '2024-02-05'
 '2024-12-21' '2024-09-16' '2024-07-12' '2024-01-16' '2024-03-08'
 '2024-11-15' '2024-09-06' '2024-09-21' '2024-08-22' '2024-01-11'
 '2024-03-26' '2024-06-27' '2024-10-10' '2024-03-15' '2024-11-04'
 '2024-10-21' '2024-04-03' '2024-11-07' '2024-04-17' '2024-05-15'
 '2024-03-02' '2024-03-23' '2024-08-07' '2024-02-28' '2024-11-09'
 '2024-06-21' '2024-07-26' '2024-07-07' '2024-06-12' '2024-02-26'
 '2024-09-10' '2024-07-01' '2024-09-15' '2024-11-22' '2024-08-09'
 '2024-11-18' '2024-03-01' '2024-08-21' '2024-09-17' '2024-11-10'
 '2024-10-16' '2024-12-02' '2024-10-19' '2024-04-16' '2024-10-11'
 '2024-11-11' '2024-07-06' '2024-01-21' '2024-11-08' '2024-07-13'
 '2024-03-09' '2024-05-09' '2024-12-22' '2024-09-02' '2024-05-02'
 '2024-11-24' '2024-03-19' '2024-07-03' '2024-05-28' '2024-06-16'
 '2024-09-29' '2024-08-19' '2024-01-09' '2024-10-27' '2024-04-29'
 '2024-06-25' '2024-06-24' '2024-10-15' '2024-01-06' '2024-06-26'
 '2024-02-12' '2024-04-30' '2024-12-17' '2024-10-18' '2024-08-24'
 '2024-08-06' '2024-05-18' '2024-11-19' '2024-12-19' '2024-03-03'
 '2024-07-14' '2024-02-08' '2024-06-07' '2024-03-27' '2024-01-26'
 '2024-07-02' '2024-01-01' '2024-06-02' '2024-06-09' '2024-06-06'
 '2024-03-17' '2024-01-04' '2024-01-23' '2024-11-05' '2024-05-13'
 '2024-02-25' '2024-09-26' '2024-08-11' '2024-11-02' '2024-06-04'
 '2024-03-05' '2024-09-25' '2024-12-18' '2024-01-28' '2024-07-09'
 '2024-05-24' '2024-02-01' '2024-12-24' '2024-08-26' '2024-02-23'
 '2024-08-25' '2024-07-24' '2024-07-04' '2024-04-23' '2024-02-18'
 '2024-10-03' '2024-06-17' '2024-10-26' '2024-09-19' '2024-09-23'
 '2024-06-19' '2024-09-08' '2024-07-18' '2024-10-01' '2024-11-25'
 '2024-11-14' '2024-06-20' '2024-08-28' '2024-05-07' '2024-07-19'
 '2024-11-17' '2024-03-13' '2024-04-19' '2024-11-13' '2024-06-18'
 '2024-03-28' '2024-02-15' '2024-04-12' '2024-03-07' '2024-12-25'
 '2024-06-03' '2024-04-15' '2024-05-04' '2024-10-12' '2024-12-23'
 '2024-04-20' '2024-04-22' '2024-08-13' '2024-12-01' '2024-07-23'
 '2024-04-18' '2024-08-30' '2024-02-22' '2024-08-20' '2024-02-04'
 '2024-11-30' '2024-08-08' '2024-12-20' '2024-03-22' '2024-07-29'
 '2024-07-22' '2024-10-14' '2024-04-10' '2024-04-05' '2024-09-04'
 '2024-06-08' '2024-03-25' '2024-04-24' '2024-11-12' '2024-09-01'
 '2024-01-19' '2024-03-18' '2024-04-13' '2024-01-15' '2024-05-27'
 '2024-01-14' '2024-07-25' '2024-12-08' '2024-05-01' '2024-05-30'
 '2024-08-27' '2024-08-02' '2024-05-08' '2024-08-14' '2024-04-09'
 '2024-01-25' '2024-10-25' '2024-07-27' '2024-05-12' '2024-07-31'
 '2024-10-09' '2024-01-13' '2024-11-21' '2024-02-02' '2024-10-22'
 '2024-05-05' '2024-10-17' '2024-09-24' '2024-09-12' '2024-03-21'
 '2024-01-31' '2024-12-09' '2024-10-24' '2024-01-29' '2024-12-05'
 '2024-06-23' '2024-08-31' '2024-04-02' '2024-07-10' '2024-03-04'
 '2024-04-28' '2024-06-13' '2024-09-14' '2024-06-30' '2024-11-28'
 '2024-04-01' '2024-05-14' '2024-07-20' '2024-04-08' '2024-02-11'
 '2024-02-09' '2024-04-04' '2024-10-30' '2024-09-13' '2024-02-03'
 '2024-01-03' '2024-05-29' '2024-11-20' '2024-11-16' '2024-12-29'
 '2024-02-21' '2024-01-12' '2024-10-23' '2024-05-20' '2024-03-14'
 '2024-02-20' '2024-03-10' '2024-05-17' '2024-09-18' '2024-12-12'
 '2024-02-19' '2024-02-17' '2024-08-23' '2024-11-27' '2024-09-07'
 '2024-10-06' '2024-11-23' '2024-12-07' '2024-06-14' '2024-05-31'
 '2024-04-21' '2024-02-07' '2024-10-02' '2024-04-26' '2024-06-28'
 '2024-02-27' '2024-09-28' '2024-11-26' '2024-01-08' '2024-03-12'
 '2024-04-27' '2024-01-07' '2024-11-29' '2024-11-01' '2024-09-03'
 '2024-08-05' '2024-12-13' '2024-02-06' '2024-07-21' '2024-01-02'
 '2024-10-29' '2024-09-30' '2024-04-14' '2024-04-07' '2024-09-22'
 '2024-12-28' '2024-07-05' '2024-01-20' '2024-12-04' '2024-08-18'
 '2024-12-16' '2024-12-26' '2024-05-25' '2024-10-13' '2024-12-27'
 '2024-10-07' '2024-05-23' '2024-09-11' '2024-12-03' '2024-10-05'
 '2024-02-29' '2024-05-19' '2024-02-13' '2024-05-21' '2024-02-14'
 '2024-06-22' '2024-01-10' '2024-11-03' '2024-12-30' '2024-12-10'
 '2024-02-16' '2024-12-14' '2024-04-25' '2024-01-30' '2024-05-16'
 '2024-12-11' '2024-01-27' '2024-02-10' '2024-01-22' '2024-12-15']
Date :
 [34 30 75 28 56 79 35 27 19 76 24 73 31 26 23 74 33 45 39 57 55 65 62 50
 54 63 41 29 37 68 66 38 80 72 48 70 36 52 40 59 32 49 60 71 77 46 25 78
 22 47 42 21 44 43 67 58 61 18 53 69 20 64 51]
Age :
 ['Male' 'Prefer not to say' 'Female' 'Non-binary']
Gender :
 ['Retired' 'Employed' 'Student' 'Self-Employed']
Time of Day :
 ['Afternoon' 'Night' 'Morning' 'Evening']
Activity Category :
 ['Physical - Exercise' 'Physical - Sports' 'Relaxation'
 'Physical - Recreation' 'Personal Growth' 'Mental - Creative' 'Social'
 'Mental - Intellectual']
Sub-Category :
 ['Mind-Body' 'Extreme Sports' 'Entertainment' 'Leisure' 'Team Sports'
 'Outdoor Activities' 'Skill Building' 'Crafts' 'Mindfulness' 'Wellness'
 'Individual Sports' 'Digital' 'Outdoor Fitness' 'Gym' 'Dance' 'Music'
 'Community' 'Media' 'Nature' 'Analysis' 'Development' 'Discussion'
 'Learning' 'Games' 'Martial Arts' 'Personal' 'Civic' 'Writing'
 'Visual Arts']
Activity :
 ['Stretching' 'Bungee Jumping' 'Music Listening' 'Baking' 'Basketball'
 'Canoeing' 'Public Speaking Practice' 'Quilting' 'Self-reflection'
 'Video Games' 'Beadwork' 'Aromatherapy' 'Qi Gong' 'Home Decoration'
 'Tennis' 'Online Gaming' 'Theatre Performances' 'Hiking' 'Spinning'
 'Hip-hop' 'Rugby' 'DJing' 'Origami' 'Hydrotherapy' 'Volunteering'
 'Animation' 'Foraging' 'Zumba' 'Critical Thinking Exercises'
 'Nature Photography' 'Personal Course' 'Forum Discussions' 'Singing'
 'Science Forums' 'Fencing' 'Meditation' 'Picnicking' 'Music Mixing'
 'Philosophy Discussions' 'Crocheting' 'Fishing' 'Science Experiments'
 'Scuba Diving' 'Gardening' 'Camping' 'Running' 'Debating' 'Trivia'
 'Kickboxing' 'Karate' 'Jazz Dance' 'Spa/Bath' 'Playing Instruments'
 'Woodworking' 'Outdoor Bootcamp' 'Social Media Interaction'
 'Language Exchange' 'Reading for Fun' 'Friend Meetup' 'Sauna'
 'Gratitude Practice' 'Financial Analysis' 'Trail Running' 'Videography'
 'Cardio' 'Mindful Eating' 'Volleyball' 'Swimming' 'Chess' 'Aikido'
 'Cooking' 'Pilates' 'Data Analysis' 'Cricket' 'History Research'
 'Cycling' 'Weightlifting' 'Community Service' 'Online Courses'
 'Parent-Child Bonding' 'Social Events' 'Kung Fu' 'Strategy Games'
 'Mentorship Programs' 'Paddleboarding' 'Journaling' 'Comedy Shows'
 'Podcast Creation' 'Leadership Workshops' 'Salsa' 'Digital Art'
 'Collage Making' 'Financial Planning' 'CrossFit' 'Family Time' 'Dating'
 'Taekwondo' 'Body Pump' 'Public Speaking' 'Movies/TV' 'Composing'
 'DIY Projects' 'Networking Events' 'Jogging' 'Music Production'
 'Charity Walks' 'Archery' 'Skydiving' 'Soccer' 'Poetry' 'Drawing'
 'Geocaching' 'Blogging' 'Baseball' 'Time Management Training'
 'Fundraising Events' 'Political Activism' 'Muay Thai' 'Rock Skipping'
 'Paragliding' 'Neighborhood Cleanups' 'Hockey' 'HIIT' 'Math Puzzles'
 'Therapy Session' 'Group Activities' 'Body Scan' 'Group Discussion'
 'Sculpting' 'Breathwork' 'Sudoku' 'Snowboarding' 'Birdwatching'
 'Book Club Meetings' 'Massage' 'Essay Writing' 'Badminton' 'Stargazing'
 'Virtual Meetups' 'Breakdancing' 'Walking' 'Graphic Design'
 'Screenwriting' 'Puzzles' 'Contemporary' 'Judo' 'Crosswords'
 'Pet Playdates' 'Acupuncture' 'Photography' 'Reading' 'Community Theatre'
 'Board Games' 'Rock Climbing' 'Cold Therapy' 'Literary Analysis'
 'Non-fiction' 'Language Learning' 'Fiction' 'Ballet' 'Yoga' 'Kayaking'
 'Tai Chi' 'Knitting' 'Ballroom' 'Painting' 'Pottery' 'Film Editing']
Duration (minutes) :
 [ 79  72 117  78  55  42  54  29 134 145  89  21 111 114 118  23  62  49
  38  90  59  63 125 153 101  43 107 102  46 113  66  67 105 130 137 144
  73 177 104  94  39  82  80  97  69  91 176 131  52 100 119 139  98  56
 163  93  20  84  60  95  92 129  58  81 126  36 135  74 178  31  28  99
 165  57  22  88  76 108 171  48  85 148 143  77  70  71  75 115  53  51
  96 160 120 122  87 116  64  18 127  86  35 103 112  83  68  40  24  17
 109 162  34 140 133  47 106 166  50  61  30 128 149 146 150 154 147  37
 136  33  45  65  15 142 132 180 110 170  44  32  41 156 155  27 123 124
 141 158 138  25 161 121 159 175 174 168  26 173 164  19  16 172 167 179
 151 152 157 169]
Intensity :
 ['High' 'Medium' 'Low']
Primary Emotion :
 ['Energized' 'Accomplished' 'Flexible' 'Serene' 'Resilient' 'Peaceful'
 'Blissful' 'Carefree' 'Inspired' 'Exhausted' 'Refreshed' 'Strong'
 'Challenged' 'Creative' 'Content' 'Invigorated' 'Tense' 'Calm' 'Focused'
 'Relaxed' 'Enlightened' 'Clear-minded' 'Sweaty' 'Curious' 'Reflective'
 'Understood' 'Engaged' 'Innovative' 'Stimulated' 'Rejuvenated'
 'Self-aware' 'Sore' 'Supported' 'Recharged' 'Connected' 'Grateful'
 'Fulfilled' 'Agile' 'Analytical' 'Insightful' 'Appreciated' 'Happy'
 'Included' 'Motivated' 'Expressive' 'Empowered']
Secondary Emotion :
 ['Challenged' 'Accomplished' 'Recharged' 'Serene' 'Invigorated'
 'Refreshed' 'Grateful' 'Creative' 'Motivated' 'Relaxed' 'Calm'
 'Expressive' 'Content' 'Exhausted' 'Blissful' 'Strong' 'Happy' 'Flexible'
 'Energized' 'Carefree' 'Stimulated' 'Innovative' 'Fulfilled' 'Engaged'
 'Insightful' 'Appreciated' 'Curious' 'Peaceful' 'Clear-minded' 'Agile'
 'Focused' 'Connected' 'Resilient' 'Understood' 'Sore' 'Reflective'
 'Tense' 'Enlightened' 'Empowered' 'Supported' 'Self-aware' 'Sweaty'
 'Included' 'Analytical' 'Inspired' 'Rejuvenated']
Mood Before (1-10) :
 [3 6 7 5 4 8]
Mood After (1-10) :
 [ 3  7  8  6  5 10  4  9  2]
Energy Level (1-10) :
 [6 4 7 8 5 3 2]
Stress Level (1-10) :
 [9 6 2 4 3 5 8 7]

In [13]:
import warnings
warnings.filterwarnings('ignore')

ip=data.drop(['Age','Gender','Time of Day','Activity Category','Activity','Duration (minutes)','Intensity','Secondary Emotion','Mood Before (1-10)'],axis=1)
for value in ip.columns:
    print(value,":", sum(ip[value] == '?'))

ip

ID : 0
Date : 0
Sub-Category : 0
Primary Emotion : 0
Mood After (1-10) : 0
Energy Level (1-10) : 0
Stress Level (1-10) : 0

,ID,Date,Sub-Category,Primary Emotion,Mood After (1-10),Energy Level (1-10),Stress Level (1-10)
1,2024-06-15,34,Mind-Body,Energized,3,6,9
2,2024-02-24,30,Extreme Sports,Accomplished,7,4,9
3,2024-06-05,75,Entertainment,Energized,8,7,6
4,2024-06-05,28,Leisure,Accomplished,8,8,9
5,2024-01-05,75,Team Sports,Flexible,8,6,2
...,...,...,...,...,...,...,...
99996,2024-05-15,59,Analysis,Focused,5,4,2
99997,2024-03-30,42,Entertainment,Serene,6,6,3
99998,2024-06-25,64,Wellness,Relaxed,4,4,2
99999,2024-04-02,61,Learning,Enlightened,7,5,5
100000,2024-09-08,27,Civic,Peaceful,6,2,4

In [14]:
data1=ip.rename(columns={'Energy Level (1-10)': 'energy_level',
                         'Mood After (1-10)': 'mind_clarity',
        'Stress Level (1-10)': 'stress_level',
        'Primary Emotion': 'emotion_state'})

data1

,ID,Date,Sub-Category,emotion_state,mind_clarity,energy_level,stress_level
1,2024-06-15,34,Mind-Body,Energized,3,6,9
2,2024-02-24,30,Extreme Sports,Accomplished,7,4,9
3,2024-06-05,75,Entertainment,Energized,8,7,6
4,2024-06-05,28,Leisure,Accomplished,8,8,9
5,2024-01-05,75,Team Sports,Flexible,8,6,2
...,...,...,...,...,...,...,...
99996,2024-05-15,59,Analysis,Focused,5,4,2
99997,2024-03-30,42,Entertainment,Serene,6,6,3
99998,2024-06-25,64,Wellness,Relaxed,4,4,2
99999,2024-04-02,61,Learning,Enlightened,7,5,5
100000,2024-09-08,27,Civic,Peaceful,6,2,4

In [15]:
from sklearn.preprocessing import LabelEncoder

le1=LabelEncoder()
data1['emotion_state']=le1.fit_transform(data1['emotion_state'])

data1

,ID,Date,Sub-Category,emotion_state,mind_clarity,energy_level,stress_level
1,2024-06-15,34,Mind-Body,14,3,6,9
2,2024-02-24,30,Extreme Sports,0,7,4,9
3,2024-06-05,75,Entertainment,14,8,7,6
4,2024-06-05,28,Leisure,0,8,8,9
5,2024-01-05,75,Team Sports,19,8,6,2
...,...,...,...,...,...,...,...
99996,2024-05-15,59,Analysis,20,5,4,2
99997,2024-03-30,42,Entertainment,38,6,6,3
99998,2024-06-25,64,Wellness,35,4,4,2
99999,2024-04-02,61,Learning,16,7,5,5
100000,2024-09-08,27,Civic,30,6,2,4

In [16]:
id = data1['ID'].value_counts().index[0]
id

'2024-07-11'

In [17]:
historical_df = data1[data1['ID'] == id].copy()
historical_df

,ID,Date,Sub-Category,emotion_state,mind_clarity,energy_level,stress_level
31,2024-07-11,50,Gym,17,3,6,7
140,2024-07-11,47,Entertainment,0,2,6,9
235,2024-07-11,25,Extreme Sports,14,8,6,5
286,2024-07-11,60,Entertainment,17,4,4,6
318,2024-07-11,55,Analysis,7,2,3,5
...,...,...,...,...,...,...,...
98789,2024-07-11,57,Nature,35,3,5,5
98828,2024-07-11,26,Civic,42,8,3,3
99526,2024-07-11,67,Individual Sports,0,3,5,9
99904,2024-07-11,64,Community,17,9,8,7
99985,2024-07-11,74,Skill Building,30,6,5,4

In [18]:
historical_df['Date'] = pd.to_datetime(historical_df['Date'])
historical_df

,ID,Date,Sub-Category,emotion_state,mind_clarity,energy_level,stress_level
31,2024-07-11,1970-01-01 00:00:00.000000050,Gym,17,3,6,7
140,2024-07-11,1970-01-01 00:00:00.000000047,Entertainment,0,2,6,9
235,2024-07-11,1970-01-01 00:00:00.000000025,Extreme Sports,14,8,6,5
286,2024-07-11,1970-01-01 00:00:00.000000060,Entertainment,17,4,4,6
318,2024-07-11,1970-01-01 00:00:00.000000055,Analysis,7,2,3,5
...,...,...,...,...,...,...,...
98789,2024-07-11,1970-01-01 00:00:00.000000057,Nature,35,3,5,5
98828,2024-07-11,1970-01-01 00:00:00.000000026,Civic,42,8,3,3
99526,2024-07-11,1970-01-01 00:00:00.000000067,Individual Sports,0,3,5,9
99904,2024-07-11,1970-01-01 00:00:00.000000064,Community,17,9,8,7
99985,2024-07-11,1970-01-01 00:00:00.000000074,Skill Building,30,6,5,4

In [19]:
historical_df = historical_df.sort_values('Date').set_index('Date')
historical_df

,ID,Sub-Category,emotion_state,mind_clarity,energy_level,stress_level
Date,,,,,,
1970-01-01 00:00:00.000000018,2024-07-11,Entertainment,17,7,5,8
1970-01-01 00:00:00.000000018,2024-07-11,Entertainment,17,4,6,7
1970-01-01 00:00:00.000000018,2024-07-11,Team Sports,14,3,8,9
1970-01-01 00:00:00.000000018,2024-07-11,Individual Sports,41,5,6,8
1970-01-01 00:00:00.000000018,2024-07-11,Digital,10,8,6,5
...,...,...,...,...,...,...
1970-01-01 00:00:00.000000080,2024-07-11,Analysis,15,6,4,4
1970-01-01 00:00:00.000000080,2024-07-11,Wellness,14,3,4,5
1970-01-01 00:00:00.000000080,2024-07-11,Skill Building,17,3,7,6
1970-01-01 00:00:00.000000080,2024-07-11,Civic,42,4,5,2
1970-01-01 00:00:00.000000080,2024-07-11,Digital,41,5,5,7

In [21]:
from sklearn.preprocessing import MinMaxScaler
def calculate_user_baseline(file_path):
    
    
    df = pd.read_csv(file_path)


    df = df.drop([
        'Age', 'Gender', 'Time of Day', 'Activity Category', 'Sub-Category',
        'Activity', 'Duration (minutes)', 'Intensity', 'Secondary Emotion',
        'Mood Before (1-10)'
    ], axis=1)


    df = df.rename(columns={
        'Mood After (1-10)': 'mind_clarity',
        'Energy Level (1-10)': 'energy_level',
        'Stress Level (1-10)': 'stress_level',
        'Primary Emotion': 'emotion_state'
    })


    top_id = df['ID'].value_counts().index[0]
    historical_df = df[df['ID'] == top_id].copy()


    historical_df['Date'] = pd.to_datetime(historical_df['Date'])
    historical_df = historical_df.sort_values('Date').set_index('Date')


    emotion_map = {
        'Distressed': 1, 'Exhausted': 1, 'Anxious': 1, 'Stressed': 2,
        'Tired': 2, 'Bored': 2, 'Calm': 3, 'Content': 3, 'Relaxed': 4,
        'Serene': 4, 'Happy': 5, 'Energized': 5, 'Accomplished': 5,
        'Invigorated': 5, 'Strong': 5, 'Empowered': 5, 'Fulfilled': 5,
        'Flexible': 4, 'Challenged': 3, 'Refreshed': 4, 'Understood': 4,
        'Rejuvenated': 5, 'Recharged': 4, 'Agile': 4

    }
    historical_df['emotion_score'] = historical_df['emotion_state'].map(emotion_map)


    historical_df = historical_df.drop(columns=['ID', 'emotion_state'])


    features = ['energy_level', 'mind_clarity', 'stress_level', 'emotion_score']
    scaler = MinMaxScaler()

    historical_df[features] = scaler.fit_transform(historical_df[features])


    baseline_mean = historical_df[features].mean().to_frame(name='Baseline_Mean')
    baseline_variance = historical_df[features].var().to_frame(name='Baseline_Variance')


    baseline_stats = pd.concat([baseline_mean, baseline_variance], axis=1)

    return baseline_stats

In [22]:
baseline_results = calculate_user_baseline("fitlife_emotional_dataset.csv")
baseline_results.to_csv('user_baseline_stats.csv')
print(" Personal Baseline Statistics ")
print(baseline_results)

 Personal Baseline Statistics
               Baseline_Mean  Baseline_Variance
energy_level        0.437545           0.088664
mind_clarity        0.484743           0.063709
stress_level        0.431325           0.104880
emotion_score       0.709402           0.117097